.form
    width: 300px
    height: 350px
    font-size: 24px
    display: flex
    justify-content: center
    margin: 10% 0 0 25%
    border: 2px solid #000
    border-radius: 10px
    .wrapper
        padding: 10px 20px
        .options
            display: flex
            .option
                background: transparent
                cursor: pointer
                margin-right: 10px
                display: inline
                position: relative
                color: #000
                text-decoration: none
                margin-left: 10px
                cursor: pointer
                &::before
                    content: ''
                    position: absolute
                    top: 100%
                    left: 0
                    width: 0
                    height: 2px
                    background: #0400ff
                    transition: 0.4s
                &:hover::before
                    width: 100%
            .optionActive
                color: #4d44f2
                margin-left: 10px
                margin-right: 10px
                cursor: pointer
        .inputBlock
            display: flex
            flex-direction: column
            margin-top: 30px
            .showPasswd
                width: 30px
                height: 30px
                position: relative
                top: -48px
                left: 190px
                opacity: .4
                &:hover
                    opacity: 1
        .addInputBlock
            display: flex
            flex-direction: column
            margin-top: -30px
        .btn_auth
            width: 100%
            font-size: 18px
            font-weight: 700
            padding: 8px 12px
            border: 2px solid #ccc
            border-radius: 6px
            color: #000
            &:active
                scale: .96
