.form
    width: 280px
    height: 350px
    font-size: 24px
    display: flex
    justify-content: center
    margin: 10% 0 0 25%
    border: 2px solid #000
    border-radius: 10px
    .wrapper
        padding: 10px 20px
        .options
            display: flex
            .option
                background: transparent
                cursor: pointer
                margin-right: 20px
            .optionActive
                color: #4d44f2
                margin-right: 20px
                cursor: pointer
        .inputBlock
            display: flex
            flex-direction: column
            margin-top: 30px
            .showPasswd
                width: 30px
                height: 30px
                position: relative
                top: -48px
                left: 200px
                opacity: .4
                &:hover
                    opacity: 1
            
