.form
    width: 50%
    margin: 10% 0 0 25%
    border: 2px solid #000
    border-radius: 10px
    .wrapper
        padding: 10px 20px
        .options
            display: flex
            font-size: 16px
            .optionLogin
                color: #4d44f2
                background: transparent
                cursor: pointer
                margin-right: 20px
                &:active
                    text-decoration: underline
            .optionRegistration
                color: #4d44f2
                background: transparent
                cursor: pointer
                &:active
                    text-decoration: underline
        .inputBlock
            display: flex
            flex-direction: column
            margin-top: 10px
            .input
                width: 40%
                border: 1px solid red
                margin-bottom: 10px

            
